PORT=5000
MONGODB_URI=mongodb://localhost:27017/bscs3b_project_compilation
JWT_SECRET=supersecretjwtkey
CLIENT_ORIGIN=http://localhost:5173
ADMIN_EMAIL=BSCS3B@gmail.com
ADMIN_PASSWORD=bscsclass2025

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
